/*FUENTES TIPOGRÁFICAS

KUMBH BOLD TITULOS:
font-family: 'kumbh_sansbold';

KUMBH REGULAR PÁRRAFOS:
    font-family: 'kumbh_sansregular';
*/

/*INDEX*/

/*BARRA SUPERIOR*/
.navbar-inner {
    width: 100%;
    background-color: black;
    justify-content: space-around;
}


.navbar-inner a {
    color: white;
    text-decoration: none;
}

#icon {
    position: relative;
    margin: 0 auto;
    padding-right: 15px;
}

#barranav {
    color: white;
}

.toolbar-inner {
    width: 100%;
    background-color: black;
    justify-content: space-between;
    padding: 15px;
}

.toolbar-inner a {
    color: white;
}

/*MENU*/

.panel {
    min-width: 100px;
    max-width: 90vw;
}

.block {
    color: white;
}

.block p a {
    color: white;
    text-decoration: none;
    transition: all .2s;
}

.block p a:hover {
    color: yellow;
}


.fotoperfil {
    margin: auto;
    padding: 20px;
}

.contenedor-user {
    margin: auto;
    width: 50%;
    border-radius: 20px;
}

.contenedor-user img {
    width: 100%;
    border-radius: 20px;
}

.textoperfil {
    font-family: 'kumbh_sansregular';
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 8px
}

.textointegrantes {
    color: rgba(255, 255, 255, 0.54);
    padding-top: 10px;
    font-family: 'kumbh_sansregular';
    width: 90%;
    text-align: center;
    margin: auto;
    line-height: 7px;
    font-size: 12px;
}

:root {
    --f7-panel-width: 300px;
    --f7-panel-bg-color: rgb(26, 26, 26);
}

/*FIN MENU*/

/*FIN BARRA SUPERIOR*/



/*CONTENIDO INDEX*/

.fondo-index {
    background-image: url(../images/black-bg.jpg);
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
}

.discover-new {
    padding: 40px 50px 20px 20px;
}

.discover-new h1 {
    font-family: 'kumbh_sansbold';
    font-size: 25px;
    color: #d393ba;
    text-shadow: 0px 0px 10px black;
    line-height: 34px;
}

.discover-new h1 span {
    font-size: 35px
}

/*SLIDER DISCOTECAS*/

.contenedor-bares-slider {
    width: 100%;
}

.contenedor-bares-slider-2 {
    width: 100%;
    padding-top: 40px;
    background: black;
}

.contenedor-bares-slider .demo-swiper .swiper-slide {
    font-family: 'kumbh_sansregular';
    font-size: 13px;
    display: block;
    margin: auto;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#estrella-slider-discotecas {
    font-size: 14px;
    padding-right: 10px
}

.contenedor-bares-slider .demo-swiper .swiper-slide {
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    height: 300px;
}

.contenedor-bares-slider .demo-swiper {
    height: 290px;
    padding: 0 10px;
}

.contenedor-bares-slider .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
}

.contenedor-bares-slider .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}

.contenedor-bares-slider .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}

.cajagenero {
    width: 100%;
}

.contenedor-bares-slider .cajagenero img {
    filter: brightness(0.7);
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    transition: all .2s;
}

.contenedor-bares-slider .cajagenero img:hover {
    filter: brightness(1);
}

/*FIN SLIDER DISCOTECAS*/

.dance-categories {
    padding: 40px 50px 20px 20px;
}

.dance-categories h1 {
    font-family: 'kumbh_sansbold';
    font-size: 25px;
    color: #eace31;
    text-shadow: 0px 0px 10px black;
    line-height: 34px;
}

.dance-categories h1 span {
    font-size: 35px
}

/*SLIDER BAILES*/

.contenedor-bailes-slider {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contenedor-bailes-slider .demo-swiper .swiper-slide {
    font-family: 'kumbh_sansbold';
    font-size: 16px;
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

}

.contenedor-bailes-slider .demo-swiper .swiper-slide span {
    font-family: 'kumbh_sansregular';
    font-size: 13px;
}

.contenedor-bailes-slider .demo-swiper .swiper-slide {
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    height: 220px;
    border-radius: 15px;
}

.contenedor-bailes-slider .demo-swiper {
    height: 250px;
    padding: 0 10px;
}

.contenedor-bailes-slider .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
}

.contenedor-bailes-slider .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}

.contenedor-bailes-slider .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}

.contenedor-bailes-slider .cajagenero {
    width: 100%;
}

.contenedor-bailes-slider .cajagenero img {
    filter: brightness(0.7);
    width: 100%;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    transition: all .2s;
}

.contenedor-bailes-slider .cajagenero img:hover {
    filter: brightness(1);
}

/*FIN SLIDER BAILES*/

/*ABOUT*/

.about-container {
    width: 80%;
    text-align: center;
    margin: 50px auto;
    background-color: rgba(21, 21, 21, 0.82);
    border-radius: 20px
}

.about-container .logoabout {
    width: 100px;
    margin: auto;
    transition: all .2s;
    margin-bottom: -20px;
}

.about-container .logoabout img {
    padding-top: 20px;
    width: 98%;
    margin: auto;
    transition: all .2s;
    filter: opacity(0.6);
}


.about-container h1 {
    font-family: 'kumbh_sansregular';
    font-size: 20px;
    color: white;
    line-height: 30px;
    padding-bottom: 20px;
}

.about-container h1 span {
    font-family: 'kumbh_sansbold';
    font-size: 25px
}

/*SLIDER ABOUT*/

.contenedor-about {
    width: 100%;
}

.contenedor-about .demo-swiper .swiper-slide {
    width: 100%;
    height: 100vh;
    align-items: center;
}

.contenedor-about .cajagenero {
    width: 100%;
    height: 100hv;
}

.contenedor-about .swiper-wrapper .swiper-slide .cajatexto-about {
    width: 80%;
    height: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.contenedor-about .swiper-wrapper .swiper-slide .cajatexto-about h3 {
    font-family: 'kumbh_sansbold';
    font-size: 30px;
    line-height: 40px;
}

.contenedor-about .swiper-wrapper .swiper-slide .cajatexto-about h3 span {
    color: #77a9dc;
    font-size: 35px;
}

.contenedor-about .swiper-wrapper .swiper-slide .cajatexto-about p {
    font-family: 'kumbh_sansregular';
    font-size: 17px;
    line-height: 25px;
}

.contenedor-about .cajagenero img {
    filter: brightness(0.25);
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/*FIN SLIDER ABOUT*/


.espaciolibre {
    width: 100%;
    height: 50px;
}

/*FIN ABUOUT*/

/*FIN INDEX*/




/*DISCOTECAS */

/*SLIDER FOTOS DISCOTECAS*/

.contenedor-slider-fotosdisco .demo-swiper .swiper-slide {
    box-sizing: border-box;
    height: 300px;
}

.contenedor-slider-fotosdisco .demo-swiper {
    height: 200px;
}

.contenedor-slider-fotosdisco .cajadiscoteca {
    width: 100%;
}

.contenedor-slider-fotosdisco .cajadiscoteca img {
    filter: brightness(0.7);
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*FIN SLIDER FOTOS DISCOTECAS*/

.title-disco {
    padding: 25px;
}

.title-disco h1 {
    font-family: 'kumbh_sansregular';
    font-size: 15px;
    color: #0d0d0d;
    line-height: 22px;
}

.title-disco h1 span {
    font-family: 'kumbh_sansbold';
    font-size: 28px
}

.paragraph-disco {
    padding: 0px 25px 10px 25px;
}

.paragraph-disco p {
    font-family: 'kumbh_sansregular';
    font-size: 16px;
    color: #242424;
    line-height: 23px;
}

.socialmedia-discotecas ul {
    width: 80%;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.socialmedia-discotecas ul li {
    text-decoration: none;
    list-style-type: none;
}

.socialmedia-discotecas ul li a {
    color: #77a9dc;
    font-size: 25px;
}


/*SLIDER OTRAS DISCOTECAS*/

.contenedor-bares-slider-2 {
    width: 100%;
    padding: 50px 0PX;
    background: black;
}

.contenedor-bares-slider-2 .demo-swiper .swiper-slide {
    font-family: 'kumbh_sansregular';
    font-size: 13px;
    display: block;
    margin: auto;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#estrella-slider-discotecas {
    font-size: 14px;
    padding-right: 10px
}

.contenedor-bares-slider-2 .demo-swiper .swiper-slide {
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    height: 300px;
}

.contenedor-bares-slider-2 .demo-swiper {
    height: 290px;
    padding: 0 10px;
}

.contenedor-bares-slider-2 .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
}

.contenedor-bares-slider-2 .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}

.contenedor-bares-slider-2 .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}

.cajagenero {
    width: 100%;
}

.contenedor-bares-slider-2 .cajagenero img {
    filter: brightness(0.7);
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    transition: all .2s;
}

.contenedor-bares-slider-2 .cajagenero img:hover {
    filter: brightness(1);
}

/*FIN SLIDER DISCOTECAS*/


/*FIN INFO DISCOTECAS*/


/*PRE INDEX*/

.fondo-preindex {
    height: 100vh;
    background-image: url(../images/black-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.pre-container {
    position: relative;
    top: 28%;
    width: 65%;
    align-items: center;
    margin: auto;
}

.pre-container .logopre {
    width: 170px;
    margin: auto;
}

.pre-container .logopre img {
    width: 100%;
}

.pre-container h1 {
    font-family: 'kumbh_sansbold';
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 28px;
}

.logopre-peque {
    width: 120px;
    margin: auto;
}

.logopre-peque img {
    width: 100%;
}

/*FIN PRE-INDEX*/


/*FORMULARIO USUARIO*/

#datosuser-form {
    margin: auto;
    background-color: white;
    padding: 0px 25px 50px 25px;
}

#title-form {
    margin-top: 60px;
    width: 100%;
    font-family: 'kumbh_sansbold';
    font-size: 25px;
}

#photouser {
    margin: auto;
    width: 45%;
    border-radius: 20px;
    padding: 30px 0 50px 0;
}

#photouser img {
    width: 100%;
    border-radius: 20px;
}

/*--- ESTILOS TWERK -----*/

.page-content {
    background-color: white
}

.navbar-inner {
    background-color: black;

}

.title {
    width: 100%;
    justify-content: flex-start;
}

.title a {
    color: white;
}

.toolbar-inner {
    background-color: black;
}

.toolbar-inner a {
    color: white;
}

.image-cover {
    background-image: url(../images/twerk-images/twerk-azul.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: 1px 6px 10px -3px rgba(3, 3, 3, 0.55);
    position: relative;
}


.text-cover {
    position: absolute;
    top: 30%;
    color: white;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    /*font-family: 'kumbh_sansregular';*/
    line-height: 4px;
    color: white;
}

.text-cover h3 {
    font-size: 30px;
}

.text-cover h5 {
    font-size: 18px;
}

.first-text {
    padding: 20px 30px;
}

.first-text P {
    text-align: justify;
    font-size: 15px;
    line-height: 23px;
}


.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
}

.demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
}

.demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 120px;

}

.demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;

}

.swiper-slide img {
    width: 100%;
    border-radius: 20px;
    ;
}

.photo-text {
    position: absolute;
    color: white;
    left: 6%;

}

.photo-slider {
    background-color: #77a9dc;
    height: 260px;
    padding: 5px 0px;
}

.title-slide {
    color: white;
    text-align: center;
    line-height: 1px;
    margin-bottom: 30px;

}

.title-slide h3 {
    font-size: 30px;
}

.title-slide h5 {
    font: 18px;
}

.learn-dance {
    margin: 30px 20px;
    text-align: center;
    position: relative;
}

.learn-img img {
    width: 100%;
    border-radius: 8px;
}

.text-learn {
    color: white;
    text-align: center;
    position: absolute;
    line-height: 1px;
    left: 122px;
    bottom: 20px;

}

.text-learn h3 {
    font-size: 30px;
}

.spotify-list {
    height: 145px;
}

.spotify-list img {
    width: 100%;
}

.spotify-text {
    color: white;
    text-align: center;
    position: absolute;
    left: 135px;
    margin-top: 25px;
}

.spotify-text img {
    width: 120px;
}

.spotify-text h4 {
    margin-top: 2px;

}

/*DADDY YANKEE*/

.item-media img {
    width: 65px;
}

.spotify-list-a1 {
    height: 145px;
}

.spotify-list-a1 img {
    width: 100%;
}

.spotify-text-a1 {
    color: black;
    text-align: center;
    position: absolute;
    left: 135px;
    margin-top: 25px;
}

.spotify-text-a1 img {
    width: 7%;
}

.spotify-text-a1 h4 {
    margin-top: 2px;

}

.image-cover-d1 {
    background-image: url(../images/daddyyankee-2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: 1px 6px 10px -3px rgba(3, 3, 3, 0.55);
    position: relative;
}


/*
   REPRODUCTOR DE MUSICA


#reproductor {
    font-size: 15px;
    line-height: 1.5em;
    color: #fff;
    background: linear-gradient(120deg, #000000 50%, #777777 120%);
    height: 650px;
}

.clearfix {
    clear: both;
}


#audio-image {
    position: relative;
    overflow: hidden;
    height: 210px;
    margin-bottom: 20px;
}

#audio-image .audio-cover {
    width: 100%;
}

#audio-info {
    text-align: center;
}

#audio-info .artist {
    font-weight: bold;
}

input#volume {
    width: 95%;
    margin-left: 2%;
    -webkit-appearance: none !important;
    background: #ccc;
    height: 1px;
    margin-bottom: 20px;
}


#buttons {
    display: block;
    margin: 15px auto;
    overflow: auto;
}

button#play {
    width: 70px;
    height: 70px;
    background: url(../images/media-player/play.png) no-repeat;
    float: left;
    margin-left: -5px;
    border: none;
    outline: none;
}

button#pause {
    width: 70px;
    height: 70px;
    background: url(../images/media-player/pause.png) no-repeat;
    float: left;
    margin-left: 5px;
        border: none;
  outline: none;
}

button#stop {
    width: 70px;
    height: 70px;
    background: url(../images/media-player/stop.png) no-repeat;
    float: left;
    margin-left: 5px;
        border: none;
  outline: none;

}

button#prev {
    width: 70px;
    height: 70px;
    background: url(../images/media-player/prev.png) no-repeat;
    float: left;
    margin-top: 17px;
    margin-left: 10px;
    border: none;
    outline: none;
}

button#next {
    width: 70px;
    height: 70px;
    background: url(../images/media-player/next.png) no-repeat;
    float: right;
    margin-top: 17px;
    margin-left: 10px;
    border: none;
    outline: none;

}

#tracker {
    position: relative;
    width: 100%;
}

#progress-bar {
    width: 80%;
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: 9px;
    height: 10px;
    background: url(../images/media-player/progress_bg.png) no-repeat;
    float: left;
}

#progress {
    background: url(../images/media-player/progress.png) no-repeat;
    height: 10px;
    display: inline-block;
}

#duration {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 4px 8px;
    background: #000;
    border-radius: 5px;
}

#playlist {
    list-style: none;
}

#playlist li {
    cursor: pointer;
    margin: 7px;
}

#playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
}
*/
